annotated-doc==0.0.4
click==8.3.2
contourpy==1.3.3
coverage==7.13.5
cycler==0.12.1
dlib==20.0.0
docstring-parser-fork==0.0.14
fonttools==4.62.1
imageio==2.37.3
iniconfig==2.3.0
kiwisolver==1.5.0
lazy-loader==0.5
markdown-it-py==4.0.0
matplotlib==3.10.8
mdurl==0.1.2
networkx==3.6.1
numpy==2.4.4
opencv-python==4.13.0.92
packaging==26.0
pandas==3.0.1
pillow==12.1.1
platformdirs==4.9.4
pluggy==1.6.0
pygments==2.20.0
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-docstring-markdown==0.4.0
rich==14.3.3
ruff==0.15.9
scikit-image==0.26.0
scipy==1.17.1
shellingham==1.5.4
six==1.17.0
tifffile==2026.3.3
ty==0.0.28
typer==0.24.1
-e file:///opt/dev/etd/magic_qc
